body {
  /* background-image: url(../images/country-quilt-dark.png); */
  /* background-image: url(../images/dark_leather.png); */
  /* background-image: url(../images/curls.png); */
  background-image: url(../images/twinkle_twinkle.png);
}

.header {
  background-color: gold;
  border: 8px goldenrod outset;
  text-align: center;
}

.jumbotron {
  background-image: url(../images/twinkle_twinkle.png);
  /* background-image: url(../images/curls.png); */
  background-image: url(../images/country-quilt-dark.png);
  /* background-color: black; */
  border: 2px gold outset;
  margin: 0.5%;
}
.card {
  align-content: center;
  flex-flow: wrap;
  flex-direction: row !important;
  align-items: center !important;
}
.dateTime {
  border-right: 2px black;
  margin: 1%;
}
.card-body {
  text-align: center;
  max-width:80%;
}

.btn-outline-warning {
  display: inline-flex;
  color: black !important;
  margin-right: 2%;

}
form{
  align-content: center;
  flex-flow: wrap;
  flex-direction: row !important;
  align-items: center !important;

}